<h1>나의 일기</h1>

<form method="POST">
  {% csrf_token %}
  <label>날짜: <input type="date" name="date"></label><br>
  <label>날씨: 
    <select name="weather">
      <option value="맑음">맑음</option>
      <option value="흐림">흐림</option>
      <option value="비">비</option>
      <option value="눈">눈</option>
    </select>
  </label><br>
  <label>내용:</label><br>
  <textarea name="content" rows="5" cols="40"></textarea><br>
  <button type="submit">작성</button>
</form>

{% if submitted %}
  <h2>오늘의 일기</h2>
  <p><strong>{{ date }}</strong></p>
  <p><strong>{{ weather }}</strong></p>
  <p>{{ content|linebreaksbr }}</p>
{% endif %}
